
<header class="index_header">
			
    <div class="hlist">
        <img src="assets/images/rexiao.png"/>
        <p>Hot</p>				
    </div>
    
    <div class="hlist">
        <img src="assets/images/caidan.png" />
        <p>History</p>				
    </div>
    <div class="hlist">
        
        <img src="assets/images/sousuo.png"/>
        <p>Like</p>				
    </div>
    
</header>


<div class="content">
    
    
    <div class="item">
        
        <h3 class="item_cate">List1</h3>
        
        <ul class="item_list">
            <li>	
                <div class="inner">
                    <img src="assets/images/1.jpg" />
                    <p class="title">meat1</p>						
                    <p class="price">¥26</p>
                </div>		
            </li>
            
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/2.jpg" />
                    
                    <p class="title">meat2</p>
                    
                    <p class="price">¥26</p>	
                </div>					
                
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/3.jpg" />
                    
                    <p class="title">meat3</p>
                    
                    <p class="price">¥26</p>				
                </div>	
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/2.jpg" />
                    
                    <p class="title">food1</p>
                    
                    <p class="price">¥26</p>
                </div>					
                
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/3.jpg" />
                    
                    <p class="title">meat4</p>
                    
                    <p class="price">¥26</p>				
                </div>	
            </li>
            
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/2.jpg" />
                    
                    <p class="title">food2</p>
                    
                    <p class="price">¥26</p>
                </div>				
                
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/3.jpg" />
                    
                    <p class="title">meat3</p>
                    
                    <p class="price">¥26</p>					
                </div>	
            </li>
            
        </ul>
        
    </div>
    <div class="item">
        
        <h3 class="item_cate">List2</h3>
        
        <ul class="item_list">
            <li>	
                <div class="inner">
                    <img src="assets/images/1.jpg" />
                    <p class="title">meat1</p>						
                    <p class="price">¥26</p>
                </div>		
            </li>
            
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/2.jpg" />
                    
                    <p class="title">meat2</p>
                    
                    <p class="price">¥26</p>	
                </div>					
                
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/3.jpg" />
                    
                    <p class="title">meat3</p>
                    
                    <p class="price">¥26</p>				
                </div>	
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/2.jpg" />
                    
                    <p class="title">food1</p>
                    
                    <p class="price">¥26</p>
                </div>					
                
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/3.jpg" />
                    
                    <p class="title">meat4</p>
                    
                    <p class="price">¥26</p>				
                </div>	
            </li>
            
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/2.jpg" />
                    
                    <p class="title">food2</p>
                    
                    <p class="price">¥26</p>
                </div>				
                
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/3.jpg" />
                    
                    <p class="title">meat3</p>
                    
                    <p class="price">¥26</p>					
                </div>	
            </li>
            
        </ul>
        
    </div>
    <div class="item">
        
        <h3 class="item_cate">List3</h3>
        
        <ul class="item_list">
            <li>	
                <div class="inner">
                    <img src="assets/images/1.jpg" />
                    <p class="title">meat1</p>						
                    <p class="price">¥26</p>
                </div>		
            </li>
            
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/2.jpg" />
                    
                    <p class="title">meat2</p>
                    
                    <p class="price">¥26</p>	
                </div>					
                
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/3.jpg" />
                    
                    <p class="title">meat3</p>
                    
                    <p class="price">¥26</p>				
                </div>	
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/2.jpg" />
                    
                    <p class="title">food1</p>
                    
                    <p class="price">¥26</p>
                </div>					
                
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/3.jpg" />
                    
                    <p class="title">meat4</p>
                    
                    <p class="price">¥26</p>				
                </div>	
            </li>
            
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/2.jpg" />
                    
                    <p class="title">food2</p>
                    
                    <p class="price">¥26</p>
                </div>				
                
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/3.jpg" />
                    
                    <p class="title">meat3</p>
                    
                    <p class="price">¥26</p>					
                </div>	
            </li>
            
        </ul>
        
    </div>
</div>